* {font-family: Comic Sans MS; 
}
.header {
        
    }
    
#title {
        text-align: center;
    }
    
.hlinks {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}

.footer {
    text-align: center;
    margin-top: 1em;
}

