* {
    font-family: 'Overlock', cursive;
    font-size: 13pt; 
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
        color: tomato;
        background-color: rgba(32,180,300,0.1);
    }

.nav-pills > li.active > a:hover {
        background-color: rgba(32,180,300,0.1);
        color:gold;
        }
    
#titlecontainer {
    text-align: center;
    }
    
#title {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 30pt;
    }

.footer {
    text-align: center;
    margin-top: 1em;
    }
    
a:link { 
    text-decoration: underline;
    color: tomato;
    }
    
a:visited {
    color: gold;
    }
    
a:hover {
    font-weight:bold;
    }
    
a:active {
    text-decoration: none;
    }

caption {
    padding-right: 65px;
    font-size: 18pt;
    color: #333333;    
    }


