* {font-family: Comic Sans MS; 
}
.header {
        
    }
    
#titlecontainer {
    text-align: center;
    }
    
#title {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 30pt;
    }
    
.hlinks {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    }

.footer {
    text-align: center;
    margin-top: 1em;
    }

