.center {
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    }

thead {
    background-color: silver;
    }
   
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    }
td {
    font-style: italic;

   }
caption {
    padding: 15px;
    }
