* {font-family: Comic Sans MS; 
}
.header {
        
    }
    
#titlecontainer {
    text-align: center;
    }
    
#title {
    font-family: 'Lobster', cursive;
    font-weight: lighter;
    font-size: 30pt;
    }
    
.hlinks {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    }

.footer {
    text-align: center;
    margin-top: 1em;
    }
    
a:link { 
    text-decoration: underline;
    color: yellow;
    }
    
a:visited {
    color: pink;
    }
    
a:hover {
    font-weight:bold;
    }
    
a:active {
    text-decoration: none;
    }

table {
    width: 66%;
    margin-left: 250px;
    margin-top: 80px;
    }

caption {
    padding-right: 65px;
    font-size: 18pt;    
    }


