.center {
    text-align: center;
}

.boldtrack {
    font-weight: bold;
    background-color: silver;
}

#tracklist {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

#header {
    float: top;
    text-align: center;
}

#tracknums {
    display: inline-block;
    vertical-align: top;
    width: 21em;
}

#tracknames {
    display: inline-block;
    vertical-align: top;
    width: 25em;
}

#tracklengths {
    display: inline-block;
    vertical-align: top;
    width: 21em;
}
